<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <link rel='stylesheet' href='/stylesheets/cosumers.css' />
  </head>
  <div class=banner>
    <img src='/images/Disability Banner.png'>
    <text>Logged in as: <%= username %></text>
    <img src='/images/Home Button.png' height="50px" width="50px" onclick = "home()">
      <script>
        function home(){
            document.location.href = "main";
        }
      </script>
    <img src='/images/Settings.png' height="50px" width="50px" onclick = "logout()">
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
    <button onclick = "logout()">Log Out</button>
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
  </div>
<head>
<style>
</style>
</head>
<body>

<table id="sidebar">
  <tr>
    <th>Back to Main Menu</th>
  </tr>

  <tr>
    <td>Book a Test</td>
  
  </tr>
    <td>Notes</td>
 
  </tr>

  <tr>
    <td>View Your Accommodations</td>
  <tr>
</table>

</body>

<head>

<center>
<style>

</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Course</th>
    <th>Accommodations</th>
    <th>Generate PDF</th>
  </tr>
  <tr>
    <td>325</td>
    <td>Accommodations for CmpSci 325 course. Need extra 30 min to complete midterm</td>
    <td>Generate</td>
  </tr>
  <tr class="alt">
    <td>326</td>
    <td>Acommodation for CmpSci 326</td>
    <td>Generate</td>
  </tr>
  <tr>
    <td>420</td>
    <td>Accommodation for 420 course</td>
    <td>Generate</td>
  </tr>
</table>

</body>
</center>
</html>