<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/sidebar.js"></script>
  </head>
  <div id='banner'>
    <img src='/images/Disability Banner.png'>
    </div>
    <div id='bannertxt'>
    <text>Logged in as: <%= username %></text>
    </div>
    <div id='banner2'>
    <img src='/images/Home Button.png' height="50px" width="50px" onclick = "home()">
      <script>
        function home(){
            document.location.href = "main";
        }
      </script>
    <img src='/images/Settings.png' height="50px" width="50px" onclick = "logout()">
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
    </div>
    <div id='banner3'>
    <button onclick = "logout()">Log Out</button>
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
  </div>
    <div id='sidebar'>
    <ul>
       <li class='active'><a href='/user/main'>Home</a></li>
       <li><a href='/user/bookingatest'>Book an Exam</a></li>
       <li class='has-sub'><a href='#'><span>Notes</span></a>
          <ul>
             <li><a href='/user/notes2'>325</a></li>
             <li><a href='/user/notes3'>326</a></li>
          </ul>
       </li>
       <li><a href='/user/accomodations'>View Accomodations</a></li>
    </ul>
  </div>
</ul>
</div>
  <body>
    <div id='left'>
      <p> </p>
    </div>
    </div>
    <div id='right'>
      <p> </p>
    </div>

</body>

<head>

<center>
<style>

</style>
</head>
<body>
<div id="formBox">
<table id="customers">
  <tr>
    <th>Course</th>
    <th>Accommodations</th>
    <th>Generate PDF</th>
  </tr>
  <tr>
    <td>325</td>
    <td>Accommodations for CmpSci 325 course. Need extra 30 min to complete midterm</td>
    <td>Generate</td>
  </tr>
  <tr class="alt">
    <td>326</td>
    <td>Acommodation for CmpSci 326</td>
    <td>Generate</td>
  </tr>
  <tr>
    <td>420</td>
    <td>Accommodation for 420 course</td>
    <td>Generate</td>
  </tr>
</table>
</div>
</body>
</center>
</html>