<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <% for(var userid in admins) { %>
      <% if(admins[userid].admin === 'yes'){ %>
        <li><%= admins[userid].username %></li>
        <% } %>
    <% } %>
    </ul>
  </body>
</html>