<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bookTest.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/sidebar.js"></script>
  </head>
  <div class=banner>
    <img src='/images/Disability Banner.png'>
    <text>Logged in as: <%= username %></text>
    <img src='/images/Home Button.png' height="50px" width="50px" onclick = "logout()">
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
    <img src='/images/Settings.png' height="50px" width="50px" onclick = "logout()">
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
    <button onclick = "logout()">Log Out</button>
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>

  <div id='sidebar'>
    <ul>
       <li class='active'><a href='/user/main'>Home</a></li>
       <li class='has-sub'><a href='#'><span>Book an Exam</span></a>
          <ul>
             <li class='has-sub'><a href='#'><span>Test</span></a>
                <ul>
                   <li><a href='#'>Select a Test Time</a></li>
                   <li><a href='#'>View Accomodations</a></li>
                   <li><a href='#'>Confirm Instructor Information</a></li>
                   <li><a href='#'>Confirm</a></li>
                </ul>
             </li>
             <li><a href='#'>Final</a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Notes</span></a>
          <ul>
             <li><a href='#'>325</a></li>
             <li><a href='#'>326</a></li>
             <li><a href='#'>420</a></li>
          </ul>
       </li>
    </ul>
  </div>
</ul>
</div>

  <body id = "main">
    <h1> Book a Test </h1>

    <div>
    <p> Welcome to the Student Exam-Booking and Accommodations website. </p>
    <p> You can use this website to:
    <ul>
    <li>Request to book an exam</li>
    <li>Check your upcoming scheduled appointments</li>
    <li>View or print a pdf. copy of your accommodations letter</li>
    </ul>
    </p>
    <p>
    Please click the schedule an exam link in the menu to the left to request to book an exam or choose the menu option that you would like to use. You will be asked to login using your SPIRE login and password.
    </p>
    <p>
    Please include in the email, the date & time of the scheduled exam, your name & student number, and your instructor's name. You will need to contact your instructor for permission to take the exam during the day when the EPC is open. Instructors must inform the EPC Coordinator of this permission in order for the request to be approved.
    </p>
    <p>
    Please be aware that despite what the menu states, the Exam Proctoring Center is NOT available for quizzes.
    </p>
    <p>
    If you encounter any problems using Clockwork, please refresh the cache on your internet browser and try again. If you continue to encounter any issues, please contact Trisha Link, Exam Proctoring Coordinator at examsaccess@admin.umass.edu. Providing a screen shot of the error message is extremely helpful, if you can.
    </p>
    <p>
    Thanks!
    </p>
    </div>
  </body>
  <!DOCTYPE html>
</html>