<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/mainpage.css' />

<head>
<title>Hello</title>
</head>
<center> 

<body>
    <p1>
    Practice Html run here....
    </p1>
</body>
</center>
<text> hello world </text>
</html>