<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div id='banner'>
    <img src='/images/Disability Banner.png'>
    <text>Logged in as: <%= username %></text>
    </div>
    <div id='banner2'>
    <img src='/images/Home Button.png' height="50px" width="50px" onclick = "home()">
      <script>
        function home(){
            document.location.href = "main";
        }
      </script>
    <img src='/images/Settings.png' height="50px" width="50px" onclick = "logout()">
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
    </div>
    <div id='banner3'>
    <button onclick = "logout()">Log Out</button>
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
  </div>
  <body>
    <div id='left'>
      <p> </p>
    </div>
    </div>
    <div id='right'>
      <p> </p>
    </div>
    <table id="sidebar">
  <tr>
    <th>Back to Main Menu</th>
  </tr>

  <tr>
    <td>Book a Test</td>
  
  </tr>
    <td>Notes</td>
 
  </tr>

  <tr>
    <td>View Your Accommodations</td>
  <tr>
</table>
    <div id='formBox'>
      <center>
      <h1>Where To Find Us</h1>
      <img src="/images/whitmore.jpg" width="700px" height="550px">
      <p>Whitmore 181 PRESIDENTS DR zip:01003-9313</p>
      </center>
    </div>
  </body>
</html>