<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/sidebar.js"></script>
  </head>
  <div id='banner'>
    <img src='/images/Disability Banner.png'>
    </div>
    <div id='bannertxt'>
    <text>Logged in as: <%= username %></text>
    </div>
    <div id='banner2'>
    <img src='/images/Home Button.png' height="50px" width="50px" onclick = "home()">
      <script>
        function home(){
            document.location.href = "main";
        }
      </script>
    <img src='/images/Settings.png' height="50px" width="50px" onclick = "logout()">
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
    </div>
    <div id='banner3'>
    <button onclick = "logout()">Log Out</button>
      <script>
        function logout(){
          var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
          if(r == true)
            document.location.href = "login";
        }
      </script>
  </div>
    <div id='sidebar'>
    <ul>
       <li class='active'><a href='/user/main'>Home</a></li>
       <li class='has-sub'><a href='#'><span>Book an Exam</span></a>
          <ul>
             <li class='has-sub'><a href='#'><span>Test</span></a>
                <ul>
                   <li><a href='#'>Select a Test Time</a></li>
                   <li><a href='#'>View Accomodations</a></li>
                   <li><a href='#'>Confirm Instructor Information</a></li>
                   <li><a href='#'>Confirm</a></li>
                </ul>
             </li>
             <li><a href='#'>Final</a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Notes</span></a>
          <ul>
             <li><a href='#'>325</a></li>
             <li><a href='#'>326</a></li>
             <li><a href='#'>420</a></li>
          </ul>
       </li>
    </ul>
  </div>
</ul>
</div>
  <body>
    <div id='left'>
      <p> </p>
    </div>
    </div>
    <div id='right'>
      <p> </p>
    </div>
    <div id="formBox">
<center>
    <h1><%= title %></h1>
    <p>Class Name<%= title %></p>
    <form method="post" action="/main/auth">
      You have not requested notes for this class. Would you like to request notes for this class?
      <button>Request notes</button>
    </form>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    </center>
  </body>
  </center>
  </div>
</html>